global
    log stdout format raw local0
    maxconn 10000

defaults
    log global
    timeout connect 5s
    timeout client 300s
    timeout server 300s

frontend http_front
    bind *:80
    mode http
    default_backend caddy_http

backend caddy_http
    mode http
    server caddy 172.100.100.101:80 check

frontend https_front
    bind *:443
    mode tcp

    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    default_backend caddy_https

backend caddy_https
    mode tcp
    server caddy 172.100.100.101:443 check send-proxy-v2

